html{
	direction:rtl !important;
  text-align:right !important;
  float:right !important;
   font-family:'Assistant' !important;
  font-size:5px !important;
}

body{
  	direction:rtl !important;
  text-align:right !important;
   font-family:'Assistant' !important;
  font-size:5px !important;
}
body {
    margin: 0;
    direction: rtl;
}
